@model Corporate_Performance.Models.KPI
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-info">KPI Details</h2>
<br />

<fieldset disabled>
    <div class=" form-group row">
        <div class=" col-2">
            <label asp-for="Programme.Name" class=" col-form-label"></label>
        </div>
        <div class=" col-5">
            <input asp-for="Programme.Name" class="form-control" />
        </div>
    </div>
</fieldset> 
<div class=" form-group row">
        <div class="col-2">
            <label asp-for="Name" class="col-form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="Name" class="form-control" />
        </div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
<br />
<div class="form-group row">
    <div class="col-5 offset-2">
        <partial name="_DetailsAndBackToListButton" model="Model.Id" />
    </div>
</div>


