@model Corporate_Performance.Models.ViewModels.KPIandProgrammeModel
@using Corporate_Performance.Extensions
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-info">Edit KPI</h2>
<br />

<form asp-action="Edit">
    <input type="hidden" asp-for="KPI.ProgrammeId" />

    <div asp-validation-summary="ModelOnly" class=" text-danger"></div>
    <div class=" form-group row">
        <div class=" col-2">
            <label asp-for="KPI.ProgrammeId" class=" col-form-label"></label>
        </div>
        <div class=" col-5">
            <select asp-for="KPI.ProgrammeId" disabled asp-items="Model.ProgrammeList.ToSelectListItem(Model.KPI.ProgrammeId)" class="form-control"></select>
        </div>
    </div>
    <div class=" form-group row">
        <div class="col-2">
            <label asp-for="KPI.Name" class="col-form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="KPI.Name" class="form-control" />
        </div>
        <span asp-validation-for="KPI.Name" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-5 offset-2">
            <partial name="_EditAndBackToListButton" model="Model.KPI.Id" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}