@model PaginatedList<Corporate_Performance.Models.KPI>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="row">
    <div class="col 6">
        <h2 class="text-info">List of KPI's</h2>
    </div>
    <div class="col-6 text-right">
        <partial name="_CreateButtonPartial" />
    </div>
</div>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-info" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<br />
<div>
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>                  
                    <a asp-action="Index"
                       asp-route-sortOrder=@ViewData["NameSortParam"]> Key Performance Indicator </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder=@ViewData["ProgSortParam"]> Programme Name </a>
                </th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(P => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(P => item.Programme.Name)
                    </td>
                    <td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </td>
                </tr>
            }
        </table>
        <partial name="_PaginatedPartial" view-data="ViewData" model="Model" />

    }
    else
    {
        <p>No KPI exists..... </p>
    }
</div>



