@model Corporate_Performance.Models.Period
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-info">Period Details</h2>
<br />

<fieldset disabled>
    <div class=" form-group row">
        <div class=" col-2">
            <label asp-for="Quarter" class=" col-form-label"></label>
        </div>
        <div class=" col-5">
            <input asp-for="Quarter" disabled class="form-control" />
        </div>
    </div>
    <div class=" form-group row">
        <div class=" col-2">
            <label asp-for="QrtStartDate" class=" col-form-label"></label>
        </div>
        <div class=" col-5">
            <input asp-for="QrtStartDate" disabled class="form-control" />
        </div>
    </div>
    <div class=" form-group row">
        <div class=" col-2">
            <label asp-for="QrtEndDate" class=" col-form-label"></label>
        </div>
        <div class=" col-5">
            <input asp-for="QrtEndDate" disabled class="form-control" />
        </div>
    </div>
</fieldset>
<br />
<div class="form-group row">
    <div class="col-5 offset-2">
        <partial name="_DetailsAndBackToListButton" model="Model.Id" />
    </div>
</div>
